.updates-section {
  padding: 10px 0px;
}
.update-card {
  background-color: #fff;
  display: flex;
  margin: 20px 100px;
  padding: 20px;
  text-align: initial;
}
.update-card-body {
  padding: 5px 20px;
}
.update-card-text {
  font-size: 1rem !important;
  font-weight: normal;
}
@media only screen and (min-width: 450px) {
  .update-card {
    margin: 20px 50px;
  }
}
@media only screen and (max-width: 449px) {
  .update-card {
    margin: 20px 20px;
  }
}
